[Desktop Entry]
Name=Ghostty
GenericName=Terminal Emulator
Comment=GPU Accelerated Terminal Emulator
Exec=/home/xor/installedApps/bin/ghostty
Type=Application
Keywords=Terminal
Icon=/home/xor/.menuIcons/icons/ghostty.svg
Terminal=false
Categories=Utility;TerminalEmulator;
StartupNotify=false
