// https://github.com/breitnw/rmpc-config/blob/main/config.ron

#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    address: "127.0.0.1:6600",
    password: None,
    theme: Some("breitnw"),
    cache_dir: Some("~/.cache/rmpc/"),
    on_song_change: None,
    volume_step: 5,
    scrolloff: 0,
    wrap_navigation: false,
    enable_mouse: true,
    status_update_interval_ms: 1000,
    select_current_song_on_change: false,
    album_art: (
        method: UeberzugX11,
        max_size_px: (width: 600, height: 600),
    ),
    keybinds: (
        global: {
            ":":       CommandMode,
            ",":       VolumeDown,
            "s":       Stop,
            ".":       VolumeUp,
            "c":       ToggleSingle,
            "<Tab>":   NextTab,
            "<C-h>":   PreviousTab,
            "1":       SwitchToTab("Queue"),
            "2":       SwitchToTab("Directories"),
            "3":       SwitchToTab("Artists"),
            "4":       SwitchToTab("Albums"),
            "5":       SwitchToTab("Playlists"),
            "6":       SwitchToTab("Search"),
            "q":       Quit,
            "x":       ToggleRandom,
            ">":       NextTrack,
            "<":       PreviousTrack,
            "f":       SeekForward,
            "v":       ToggleConsume,
            "p":       TogglePause,
            "z":       ToggleRepeat,
            "b":       SeekBack,
            "~":       ShowHelp,
            "I":       ShowCurrentSongInfo,
            "O":       ShowOutputs,
        },
        navigation: {
            "e":       Up,
            "n":       Down,
            "h":       Left,
            "i":       Right,
            "<Up>":    Up,
            "<Down>":  Down,
            "<Left>":  Left,
            "<Right>": Right,
            // "<C-e>":   PaneUp,
            // "<C-n>":   PaneDown,
            // "<C-h>":   PaneLeft,
            // "<C-i>":   PaneRight,
            "<C-u>":   UpHalf,
            "K":       PreviousResult,
            "a":       Add,
            "A":       AddAll,
            "r":       Rename,
            "k":       NextResult,
            "g":       Top,
            "<Space>": Select,
            "G":       Bottom,
            "<CR>":    Confirm,
            "u":       FocusInput,
            "N":       MoveDown,
            "<C-d>":   DownHalf,
            "/":       EnterSearch,
            "<C-c>":   Close,
            "<Esc>":   Close,
            "E":       MoveUp,
            "D":       Delete,
        },
        queue: {
            "D":       DeleteAll,
            "<CR>":    Play,
            "<C-s>":   Save,
            "a":       AddToPlaylist,
            "d":       Delete,
            "i":       ShowInfo,
        },
    ),
    search: (
        case_sensitive: false,
        mode: Contains,
        tags: [
            (value: "any",         label: "Any Tag"),
            (value: "artist",      label: "Artist"),
            (value: "album",       label: "Album"),
            (value: "albumartist", label: "Album Artist"),
            (value: "title",       label: "Title"),
            (value: "filename",    label: "Filename"),
            (value: "genre",       label: "Genre"),
        ],
    ),
    tabs: [
        (
            name: "Queue",
            border_type: None,
            pane: Pane(Queue),
        ),
        (
            name: "Directories",
            border_type: None,
            pane: Pane(Directories),
        ),
        (
            name: "Artists",
            border_type: None,
            pane: Pane(Artists),
        ),
        (
            name: "Albums",
            border_type: None,
            pane: Pane(Albums),
        ),
        (
            name: "Playlists",
            border_type: None,
            pane: Pane(Playlists),
        ),
        (
            name: "Search",
            border_type: None,
            pane: Pane(Search),
        ),
    ],
)
//
// (END) https://github.com/breitnw/rmpc-config/blob/main/config.ron 

