@define-color highlight rgba(117, 241, 250, 1);

* {
  border: none;
  border-radius: 0px;
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 14px;
  min-height: 0px;
}

window#waybar {
  background: rgba(24, 24, 27, 0);
  /* background: white; */
  color: white;
  border-bottom: 0px;
}

tooltip {
  background: rgba(43, 48, 59, 1);
  border: 1px solid rgba(100, 114, 125, 0.5);
}

#window,
#windows,
#submap,
#media,
#memory,
#battery,
#volume,
#network,
#clock,
#internet,
#privacy,
#tray,
#bluetoothgroup,
#brightness {
  background: rgba(39, 39, 42, 1);
  border-radius: 8px;
  padding: 0px 2px 0px 2px;
  margin: 4px 4px 0px 4px;
  /* border: 3px solid red; */
}

#windows {
  padding-left: 0px;
  padding-right: 0px;
}

#windowcount {
  padding: 0px 2px 0px 3px;
}

window#waybar.empty #windowcount {
  background: transparent;
  padding: 0px;
  margin: 0px;
}

#window {
  padding: 0px 3px 0px 3px;
  font-style: italic;
}

window#waybar.empty #window {
  background-color: transparent;
}

#workspaces button {
  color: white;
  background: transparent;
  padding: 3px;
  margin: 0px 0px 0px 0px;
  border-radius: 2px;
}

#workspaces button.active {
  background: @highlight;
  color: black;
  border-radius: 8px;
  font-weight: 700;
}

#workspaces button.urgent {
  background: rgba(227, 81, 73, 1);
  font-weight: 700;
}

#backlight-slider slider,
#pulseaudio-slider slider{
  all: unset;
  min-height: 0;
  min-width: 0;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
}

#backlight-slider trough,
#pulseaudio-slider trough{
  min-height: 5px;
  min-width: 75px;
  border-radius: 5px;
  background: rgba(63, 63, 70, 1);
}

#backlight-slider highlight,
#pulseaudio-slider highlight{
  min-width: 10px;
  border-radius: 5px;
  background: @highlight;
}

#battery.charging {
  background: lightgreen;
  color: black;
}

@keyframes blink {
  to {
    background-color: black;
    color: white;
  }
}

/* TODO: Color module based on battery levels. */

#battery.full.charging {
  background-color: white;
  color: black;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.critical:not(.charging),
#memory.critical,
#tray > .needs-attention {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#submap {
  border: 2px solid red;
}
#bluetooth {
  min-width: 16px;
}
#privacy-item.audio-in, #privacy-item.screenshare {
  color: lightpink;
}

#memory.okayish {
  background: #00ff48;
  color: black;
}
#memory.warning {
  background: darkorange;
  color: black;
}
#custom-media-playing {
  padding-right : 20px;
}
